@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');

*{
    margin:0;
    padding:0;
}

body{
    font-family: Roboto, sans-serif;
}

/*SIDEBAR*/

.grid{
    display: grid;
    grid-template-columns: 1fr 3fr;
}

.sidebar{
    height:100vh;
    background-color:#0ea5e9;
    color:#ffffff;
}

.dashboard{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    margin: 10px 0px;
    margin-right: 10px;
}

.dashboard h1{
    font-size:25px;
    margin-right: 30px;
}

.icons{
    display:flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: center;
    margin: 20px 60px;
}

.icons h4{
    font-size: 15px;
    margin-left: 20px;
}

svg.dashboard{
    height:50px;
    width:50px;
    fill:#ffffff;
}

svg.icon{
    height: 25px;
    width:25px;
    fill:#ffffff;
}

.bottom-list{
    margin-top:50px;
}

/*MAIN*/

.main{
    height:100vh;
    background-color: #ffffff;
    display: grid;
    grid-template-rows: 1fr 3fr;
}

.header{
    background-color: #ffffff;
}

.navbar{
    display:flex;
    flex-direction: row;
    justify-content:space-evenly;
    align-items: center;
    margin-top: 20px;
    margin-left:20px;
    padding-left: 10px;
    padding-right: 40px;
}

.form-input{
    width:500px;
    background-color: #e2e8f0;
    border:1px solid #e2e8f0;
    border-radius: 10px;
    height:20px;
    margin-right: 120px;
    margin-left: 10px;
}

.navbar-avatar{
    margin-right: 30px;
    margin-left: 30px;
}

svg.navbar-icons{
    height:25px;
    width:25px;
}

.user{
    display:flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    margin-top:30px;
    margin-left:30px;
    padding-left: 10px;
    padding-right: 30px;
}

.profile-pic{
    margin-right:10px;
}

.left p{
    font-size: 12px;
    font-weight: bold;
}

.left h4{
    font-size: 20px;
    font-weight: bold;
}


.left{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}

.right{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    width:33%;
}

button{
    width:80px;
    height:30px;
    background-color: #0ea5e9;
    border: #0ea5e9;
    border-radius: 15px;
    color: #ffffff;
    font-weight: bold;
}


.content{
    background-color:#e2e8f0;
}